.todosContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding-block: var(--margin-sm);
}

.todosGrid {
  width: 100%;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
}
