.homeScreen{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:var(--margin-md);
    background-color: var(--bg-dark);
}

    .subtitle{
        font-size: 1.3rem !important;
    }