@import "../../mixins.scss";

.todoCardComponent{
    @include flexColSmGap();
    padding: var(--margin-sm);
    height: 300px;
    width: 300px;
    border-radius: var(--margin-sm);
    margin:var(--margin-md);
    background-color: var(--bg);
    overflow-y: auto;

  scrollbar-color: var(--bg-light) var(--bg);
  scrollbar-width: thin;
    p{
        line-height: 135%;
        color:var(--text-muted);
        word-wrap: break-word;
        text-overflow: ellipsis;
    }
}

.separator{
    height: 3px;
    width: 100%;
    background-color: var(--bg-light);
}