.todosSectionComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: var(--margin-sm);
  .subtitle {
    display: inline;
    text-align: center;
    font-size: 1.3rem !important;
  }

  .todosGridContainer{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
}
