.modalComponent {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--margin-md);
  margin-left: 50%;
  transform: translate(-30%);
  align-items: center;
  border: none;
  border-radius: var(--margin-sm);
  background-color: var(--bg);

  &::backdrop{
    background-color: rgba(0,0,0,.5);
  }

  .buttonContainer {
    width: 100%;

    button {
      background-color: var(--danger);
    }
  }
}
