.modalComponent {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: var(--margin-md);
  margin-left: 50%;
  transform: translate(-30%);
  align-items: center;
  border: none;
  border-radius: var(--margin-sm);
  background-color: var(--bg);
  transition: transform 300ms cubic-bezier(0.256, 0.742, 0.39, 1.527);
  transform-origin: center;
  transform:scale(1) translateX(-25%);

  @starting-style{
    transform:scale(0) translateX(-50%);
  }

  &::backdrop{
    background-color: rgba(0,0,0,.5);
  }

  .buttonContainer {
    width: 100%;

    button {
      background-color: var(--danger);
    }
  }
}
