.textAreaComponent {
  textarea {
    border: none;
    font-size: 1.25rem;
    resize: none;
    width: 100%;
    padding: var(--margin-sm);
    border-radius: var(--margin-sm);
    box-sizing: border-box;
    background-color: var(--bg-light);
    color: var(--text);
    margin-top: var(--margin-sm);
    field-sizing: content;

    &::placeholder {
      color: var(--text-muted);
    }

    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
}
