@import '../../mixins.scss';

.authScreen{
    @include flexColMdGap();
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    height: 100vh;
    width: 100vw;

    button{
        background-color: var(--primary);
        padding: var(--margin-mini) var(--margin-sm);
        border: none;
        color:var(--bg);

    }
}