.sidebarComponent{
    background-color: var(--bg-dark);
    padding: var(--margin-md);
    width: 20vw;
}

.sidebarContainer{
    background-color: var(--bg);
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    padding:var(--margin-sm);
    box-sizing: border-box;
}