@import "../../mixins.scss";

.messageBoxComponent{
    @include flexSmGap();
    align-items: center;
    justify-content: center;
    width: max-content;
    padding:var(--margin-md);
    border-radius: var(--margin-sm);
    background-color: var(--bg-light);
}

.messageBoxContainer{
    @include flexSmGap();
    align-items: center;
    justify-content: center;
    span{
        font-size: 1.5rem;  
        color: var(--text-muted);
    }

    img{
        height: 2.5rem;
        aspect-ratio: 1/1;
        filter: var(--black-to-text-muted-color);
    }
}