@font-face{
	font-family: 'dm-sans';
	src: url('/fonts/dmsans/dmsans/dmsans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root{
	--bg-dark: oklch(0.1 0.06 233);
	--bg: oklch(0.15 0.06 233);
	--bg-light: oklch(0.2 0.06 233);
	--text: oklch(0.96 0.1 233);
	--text-muted: oklch(0.6 0.1 233);
	--highlight: oklch(0.5 0.12 233);
	--border: oklch(0.4 0.12 233);
	--border-muted: oklch(0.3 0.12 233);
	--primary: oklch(0.76 0.12 233);
	--secondary: oklch(0.76 0.12 53);
	--danger: oklch(0.7 0.12 30);
	--warning: oklch(0.7 0.12 100);
	--success: oklch(0.7 0.12 160);
	--info: oklch(0.7 0.12 260);

	--margin-mini: .5rem;
	--margin-sm: 1rem;
	--margin-md: 2rem;
	--margin-lg: 3rem;

	--black-to-text-color: brightness(0) saturate(100%) invert(99%) sepia(14%) saturate(3403%) hue-rotate(160deg) brightness(102%) contrast(101%);
	--black-to-text-muted-color: brightness(0) saturate(100%) invert(58%) sepia(8%) saturate(3085%) hue-rotate(155deg) brightness(81%) contrast(92%);
}


*:where(h1,h2,h3,h4,h5,p,a,span,input, textarea){
	color: var(--text);
	font-family: 'dm-sans' !important;

	&.big{
		font-size: 2rem !important;
	}

	&.bold{
		font-weight: 800;
	}
}

img{
	max-width: 100%;
}

p{
	font-size: 1.1rem !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	font-size: clamp(26px, 6vw, 36px);
	font-weight: 800;
}

h2{
	font-size: clamp(22px, 5vw, 28px);
	font-weight: 600;
}

h3{
	font-size: clamp(20px, 4vw, 25px);
	font-weight: 600;
}

p.muted, a.muted{
	color:var(--text-muted);
}

.fadeInFromTop {
      opacity: 1;
	  transition: all 250ms ease-out;

      @starting-style {
        opacity: 0;
        transform: translateY(-20px);
      }
    }


.layoutScreen{
	display: flex;
}