.textFieldComponent {
  display: flex;
  width: 100%;

  input {
    padding: var(--margin-sm) var(--margin-sm);
    width: 100%;
    border-radius: var(--margin-sm);
    box-sizing: border-box;
    background-color: var(--bg-light);
    border: none;
    font-size: 1.5rem;


    &:not(&:placeholder-shown) + span {
      display: none;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &:placeholder-shown + .placeholderWrapper {
      opacity: 1;
      position: absolute;
      font-size: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      left: var(--margin-sm);
    }
  }
}

.inputContainer {
  width: 100%;
  position: relative;
}

.placeholderWrapper {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
